/* Reset margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('img/bg-4096.jpeg') no-repeat center center/cover;
}

.login-container {
    width: 320px;
    padding: 2.5rem;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
    backdrop-filter: blur(24px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #97559c;
}

/* Logo (Mountain icon) */
.logo {
    font-size: 5rem;
    color: #fff;
    margin-bottom: 1.5rem;
    width: 5rem;
    height: 5rem;
}

.input-group {
    width: 100%;
    margin-bottom: 2rem;
    position: relative;
    background-color: transparent;
}

.input-group input {
    width: 100%;
    padding: 0.7rem 2rem 0.7rem 0.7rem;
    /* Space for the icon */
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 0.8rem;
    background-color: transparent;

}

/* Icons inside the input boxes */
.input-group .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.7rem;
    color: #ffffff;
    background-color: transparent;
}

.input-box {
    height: 3rem;
}

.input-box::placeholder {
    color: #fff;
}


.btn {
    width: 100%;
    height: 3rem;
    padding: 0.7rem;
    margin-bottom: 1rem;
    font-size: 0.95rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #2A9DF4;
}

.btn-primary:hover {
    background-color: #2789d5;
}

/* Social sign-in buttons (circular) */
.social-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-social {
    background-color: transparent;
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 50%;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 10px;
    border: none;
}

.btn-social:hover {
    opacity: 1;
}

.btn-social i {
    color: white;
}

.forgot-password {
    margin-top: 1rem;
    font-size: 0.85rem;
    color: #ccc;
    text-decoration: none;
}


.forgot-password:hover {
    text-decoration: underline;
}

.border-btm {
    margin-bottom: 5rem;
}

.border-top {
    margin-top: 1.5rem;
}
